@import url('https://fonts.googleapis.com/css?family=BenchNine|Roboto:100,400,700|Yellowtail');
.app {
    margin: auto;
    color: #4a4a4a;
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    overflow: auto;
    margin-top: 120px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 96px;
    background: -webkit-linear-gradient(90deg, #7639EF, #54AEF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    letter-spacing: 3px;
}


/* .btn-signIn,
.btn-signOut {
    color: #ffffff;
    font-weight: 700;
    height: 50px;
    padding: 10px 50px;
    background-color: #7639ef;
    border-radius: 10px;
    border: 20px solid #7639ef;
}

.btn-signIn:hover,
.btn-signOut:hover {
    color: #7639ef;
    border: 2px solid #7639ef;
    background-color: transparent;
} */