nav.navbar {
    background: #ffffff;
    color: #303030;
    opacity: 0.9;
    position: fixed;
    top: 0;
    /* border: none; */
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    min-height: 100px;
}

.navbar-item {
    float: left;
}

li>a {
    color: #303030;
    margin-right: 15px;
}

li>a:hover,
li>a:focus {
    color: #303030;
    text-decoration: none;
}

li.btn-Nav>button {
    margin-top: 0px!important;
}


/* Left side of Navigation */

.navbar-right {
    display: inline-block;
}

img.logoImg {
    max-height: 5rem;
    margin-right: 10px;
    width: auto;
    float: left;
    padding-top: 6px;
}

li.appName {
    font-family: 'Yellowtail', cursive !important;
    font-weight: 900;
    text-decoration: none;
    font-size: 42px;
    margin: 0px 10px;
}


/* Right side of Navigation */