.homeLeft {
    margin-top: 115px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeRight {
    margin-top: 140px;
    align-content: right;
}

div.home-item {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

@media (max-width: 768px) {
    .homeLeft {
        text-align: center;
        margin: 80px 20px 30px 20px;
    }
    .homeRight {
        margin: 0px 50px!important;
    }
}