.homeLeft {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center; */
}

div.home-item {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}


/* 

.homeRight {
    margin-top: 140px;
    align-content: right;
}

div.home-item {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
} */

@media (max-width: 768px) {
    .homeLeft {
        text-align: center;
        margin: 80px 20px 30px 20px;
    }
    .homeRight {
        margin: 0px 50px!important;
    }
}